<!DOCTYPE html>
<html>
<head>
	<title>
		Product Information System
	</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet"/>
</head>
<body>
	<div class="container" id="app">
		<h1>Product Information System <small id="user"><span class="glyphicon glyphicon-user"></span> {{user.username}}
		<p><a href="/logout">Log out</a></p></small></h1>
		<table class="table">
			<thead>
				<tr>
					<th>Batch #</th>
					<th>Created By</th>
					<th>Created On</th>
					<th>Marketing Confirm</th>
					<th>BC Confirm</th>
					<th>Extracted On</th>
					<th>Division</th>
					<th>Brand</th>
					<th>Days Pending</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(batch, index) in batches" v-bind:class="{pending: batch.marketing_approved != true}">
					<td>{{index + 1}}</td>
					<td>{{batch.created_by}}</td>
					<td>{{batch.created_on | displayDateInWordsWithTime}}</td>
					<td class="center"><span class="glyphicon glyphicon-ok" v-if="batch.marketing_approved == true"></span></td>
					<td class="center"><span class="glyphicon glyphicon-ok" v-if="batch.bc_approved == true"></span></td>
					<td>{{batch.extracted_on | displayDateInWordsWithTime}}</td>
					<td>{{batch.division}}</td>
					<td>{{batch.brand}}</td>
					<td v-if="batch.extracted_on == ''">{{ Math.ceil(Math.abs((new Date()).getTime() - new Date(batch.created_on).getTime()) / (1000 * 3600 *24)) }}</td>
					<td v-else>Extracted by: {{batch.extracted_by}}</td>
					<td>
						<button type="button" class="btn btn-primary" data-toggle="modal" :data-target="index | openModalHash">
							View
						</button>
						<button class="btn btn-danger" v-if="user.username == batch.created_by" v-on:click="deleteBatch(index)">Delete Batch</button>
						<!-- <button v-on:click="view(batch, index)">
							go to view link
						</button> -->
					</td>
				</tr>
			</tbody>
		</table>
		<div class="modal fade" v-for="(batch, batch_index) in batches" :id="batch_index | openModal" tabindex="-1" role="dialog" :aria-labelledby="batch_index | openModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Batch {{batch_index + 1}}</h4>
		      </div>
		      <div class="modal-body">
		        <table class="table">
		        	<thead>
		        		<tr v-for="(item, item_index) in batch.items" v-if="item_index == 0">
		        			<th v-for="(value, key) in item">{{key}}</th>
		        		</tr>
		        	</thead>
		        	<tbody>
		        		<tr v-for="(item, item_index) in batch.items">
		        			<td v-for="(value, key) in item">
		        				<p v-if="edit == false || views[0].fields[key].marketing_editable == false"> {{value}} </p>
		        				<input class="form-control" v-if="edit==true && views[0].fields[key].marketing_editable == true" type="text" :name="value" v-model="item[key]">
		        			</td>
		        		</tr>
		        	</tbody>
		        </table>
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-success" data-dismiss="modal" v-on:click="setMarketingApproved(batch_index)">Confirm</button>
		      	<button type="button" class="btn btn-default" v-on:click="makeEditable()">Edit</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary" v-on:click="saveEdit(batch_index)">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>


		<!-- <div v-for="batch in batches">
			<div class="panel panel-default">
			 	<div class="panel-heading">
			    	<h3 class="panel-title">Panel title</h3>
			 	</div>
			 	<div class="panel-body">
			    	Panel content
			 	</div>
			</div>
		</div> -->
	</div>
		

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
	<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="jszip/dist/jszip.js"></script>
	<script src="js/dp/vue-app.js"></script>
	<script type="text/javascript" src="mm/app.js"></script>
	<script type="text/javascript" src="js/filters.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
	<script type="text/javascript">
		// $('#raw-data').change(function(event){
		// 	readData(event);
		// });
		$("#download-data").click(function(event){
			downloadData();
		});
		$(document).ready(function(){
			$.getJSON( "data/output.json", function( data ) {
				$.each( data, function(i, values) {
				  	views.push(data[i]);
				});
			});
			$.ajax({
				url: '/getbatches',
				type: 'GET',
				success: function(data){
					data.forEach(function(batch){
						batches.push(batch);
					});
				}
			});
			$.ajax({
				url: '/getuser',
				type: 'GET',
				success: function(data){
					for (field in data){
						Vue.set(app.user, field, data[field]);
					}
				}
			});
		})
		

	</script>
</body>
</html>